main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* CROUSEL */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

.bttn {
  display: flexbox;
  align-items: flex-end;
}

.social {
  font-size: 27px;
  align-items: center;
  display: flex;
}

.subscribe {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.email {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header {
  background-color: #cc1b6b;
  color: #fff;
}

.search {
  color: black;
  background-color: #fff;
}

.phone {
  font-size: 10px;
}

.header__logo {
  width: 140px;
  height: 80px;
  margin-top: 10px;
  margin-right: 30px;
}

.logo {
  justify-content: left;
}

.page {
  width: 80%;
}