main {
  min-height: 80vh;
}
.searchBox {
  position: relative;
  width: 500px;
}

.searchIcon {
  position: absolute;

  right: 0;
  bottom: -2px;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* CROUSEL */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  /* height: 300px;
  padding: 30px;
  margin: 40px; */
  /* border-radius: 50%; */
}

.carousel a {
  margin: 0 auto;
}
.previewGallery img {
  height: 75px;
  border-radius: 5px;
}
.product-name {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.previewActive {
  border: 2px solid brown;
}
@media screen and (max-width: 998px) {
  .searchBox {
    width: initial;
  }
}
@media screen and (max-width: 430px) {
  .slider img {
    height: 25vh !important;
  }
}

.box {
  justify-content: center;
  margin-left: 10px;
  margin-top: 30px;
}

.productImage:hover {
  border-color: black;
}

.previewImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.email {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header__logo {
  width: 100px;
  height: 30%;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 0px;
}

.social {
  font-size: 27px;
  align-items: center;
  display: flex;
}
.phone {
  font-size: 10px;
}

.categories {
  font-weight: medium;
  color: black;
}

.categoriesNavbar {
  background-color: #fff;
  color: black;
}

.footwear {
  padding-left: 30px;
}

.clothing {
  padding-left: 30px;
}

.accessories {
  padding-left: 30px;
}

/*  footer links */

.link-footer {
  color: white;
  font-weight: 600;
}

.link-footer:hover {
  color: white;
}

.termsImage {
  width: 400px;
  height: 300px;
  float: right;
  display:block ;
}

.text {
  float: left;
}

/* Filter  */
/* Position and sizing of burger button */
.bm-burger-button {
  position:relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}


.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: black;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #CC1B6B;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.filter div {
  flex: 1;
}

.filterButton:hover {
  background-color:#CC1B6B ;
  border-radius: 10;
}
/* end of filter  */

/*  filtered product page */
.checkoutProduct {
  display: flex; 
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
  
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
