main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/* CROUSEL */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

.carousel a {
  margin: 0 auto;
}

.bttn {
  display: flexbox;
  align-items: flex-end;
}

.social {
  font-size: 27px;
  align-items: center;
  display: flex;
}

.subscribe {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.email {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.header {
  background-color: #cc1b6b;
  color: #fff;
}

.search {
  color: black;
  background-color: #fff;
}

.phone {
  font-size: 7px;
}

.header__logo {
  width: 100px;
  height: 45px;
  margin-top: 5px;
  margin-right: 30px;
}

.logo {
  justify-content: left;
}

.page {
  width: 80%;
}

.searchBox {
  width: 80px;
}

.search {
  margin-left: 5px;
  border-radius: 5px;
}

.App {
  cursor: pointer;
}

/* Second header nav */
.header2 {
  display: flex;
  align-items: center;
}

.customSearch {
  width: 140px;
  box-sizing: border-box;
  border: 2px solid rgb(190, 189, 189);
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.customSearch:focus {
  width: 100%;
}
/* End of second header nav */

/* Universal Button Css */
.btn-block {
  background-image: linear-gradient(135deg, #ff0844 10%, #cc1b6b 100%);
}

.btn-block:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/*End of Universal Button Css */

/* Product Screen */
/* Accordian  */
.tabs {
  font-size: 35px;
  background: -webkit-linear-gradient(#eee, #dd204c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*  End of Accordian*/
/*choose colours dropdown */
.chooseColor {
  background-image: linear-gradient(135deg, #da4167 10%, #cc1b6b 100%);
}

.tab1 {
  background-image: linear-gradient(135deg, #ff0844 10%, #ffb199 100%);
}
.tab2 {
  background-image: linear-gradient(135deg, #ffe259 10%, #ffa751 100%);
}
.tab3 {
  background-image: linear-gradient(135deg, #00b4db 10%, #0083b0 100%);
}
.tab4 {
  background-image: linear-gradient(135deg, #81fbb8 10%, #28c76f 100%);
}

/* End of choose colour dropdown */

.insta {
  background: -webkit-linear-gradient(#1346d1, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ReviewBtn {
  background-image: linear-gradient(135deg, #a71d31 10%, #3f0d12 100%);
}

.cart {
  margin-top: 84px;
}
/* End of product Screen */

.banner {
  width: 100%;
  height: 100%;
}

/* Cart screen  */
.remove {
  background: linear-gradient(to bottom, #ff3800 0%, #f02900 100%);
  border: none;
  color: white;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.remove:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* End of Cart screen  */

/* place order screen */
.placeorderCart {
  margin-top: 34px;
}
/* end of placeorder */

.searchbox {
  width: 140px;
  box-sizing: border-box;
  border: 2px solid rgb(190, 189, 189);
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.searchbox:focus {
  width: 100%;
}
